{% extends "indexhome.html.twig" %}

{% block titlebar %}
	<section class="site-pusher">
		<div class="site-content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('index')}}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Panier</li>
				</ol>
			</nav>
			{# <div class="card">
							<img src="{{asset('images/.png')}}" class="card-img img-fluid taille rounded" alt="theme"/>
						</div> #}
		</div>
		<div class="site-cache" id="site-cache"></div>
	</section>

	<!-- DIV du slide bouton burger -->
</div>
<!-- DEBUT DU CONTAINT CATALOGUE -->
<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h3 class="tailfonth1">Commande</h3>
			{# <p class="tailfontp">Adresse</p> #}
		</div>
	</div>
</div>{% endblock %}{% block content %}
<div class='container-sm'>
	<div class="row justify-content-center">
		<div class="col-sm-5">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Photo</th>
						<th scope="col">Nom</th>
						<th class='text-right' scope="col">Prix TTC</th>
					</tr>
				</thead>
				<tbody id='panierbody'>
					{% if panier|length == 0 %}
						<h5 id='vide' class='text-center'>Votre panier est vide</h5>
					{% else %}
						<h5 id='vide' class='text-center'></h5>
						{% for item in panier %}
							<tr>
								<td><img src="{{ asset('/uploads/') ~ item.picture }}" alt="" width='80'/></td>
								<th>{{item.name}}</th>
								<td class='text-right'>{{item.price}}€</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan='2' class='text-right'>Total HT :</td>
						<td id='paniertotal' class='text-right'>{{total.HT}}€</td>
					</tr>
					<tr>
						<td colspan='2' class='text-right'>TVA 5.5% :</td>
						<td id='paniertotal' class='text-right'>{{total.TVA}}€</td>
					</tr>
					<tr>
						<td colspan='2' class='text-right'>Total TTC :</td>
						<th class='text-right'>{{total.TTC}}€</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class='col-sm-7'>
			<p class='text-center'>Username :
				{{ user.username }}
				Email :
				{{user.email}}</p>
			{% if adress == null %}
				<p class="text-center">
					Veuillez entre l'adresse pour le livraison
				</P>
			{% else %}
				<P class="text-center">
					Veuillez Choisir une adresse de livraison ou en saisir une nouvelle
				</p>
				<div class="row justify-content-center">
				{% for adres in adress %}
					<div class="card text-center mr-1 mb-1" style="width: 13rem;">
						<div class="card-body">
							<h5 class="card-title">{{adres.lastname}}
								{{adres.firstname}}</h5>
							<div class="card-text card-adress">
								<p>{{adres.address}}</p>
								<p>{{adres.address1}}</p>
								<p>{{adres.cp}} {{adres.city}}</p>
								<p>Tel : {{adres.phone}}</p>
						</div>
						<a href="{{ path('validator', {'id': adres.id}) }}" class="btn btn-primary btn-sm">Choisir cette adresse</a>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endif %}
		{{form_start(form)}}
		{# ligne nom prenom #}
		<div class="form-row mt-3">
			<div class="form-group col-md-6">
				{{form_widget(form.lastname)}}
			</div>
			<div class="form-group col-md-6">
				{{form_widget(form.firstname)}}
			</div>
		</div>
		{# ligne adresse 1 et 2 #}
		<div class="form-row">
			<div class="form-group col-md-12">
				{{form_widget(form.address)}}
				{{form_widget(form.address1)}}
			</div>
		</div>
		{# ligne CP et ville #}
		<div class="form-row">
			<div class="form-group col-md-4">
				{{form_widget(form.cp)}}
			</div>
			<div class="form-group col-md-8">
				{{form_widget(form.city)}}
			</div>
		</div>
		{# ligne telephone #}
		<div class="form-row">
			<div class="input-group col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fas fa-phone-alt"></i>
					</span>
				</div>
				<div>
					{{form_widget(form.phone)}}
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-success mt-3">Valider</button>

		{{form_end(form)}}
	</div>
</div></div>{% endblock %}
