{% extends "indexhome.html.twig" %}

{% block titlebar %}
<section class="site-pusher">
	<div class="site-content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('index')}}">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Paiement success</li>
			</ol>
		</nav>
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{# <div class="card">
			<img src="{{asset('images/.png')}}" class="card-img img-fluid taille rounded" alt="theme"/>
		</div> #}
	</div>
	<div class="site-cache" id="site-cache"></div>
</section>

<!-- DIV du slide bouton burger --></div>
<!-- DEBUT DU CONTAINT CATALOGUE -->
<div class="container m-5">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h3 class="tailfonth1">Commande valider</h3>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class='container mb-5 p-4'>
	<div class='row justify-content-center border shadow'>
		<div class="col-6 text-center">
			<p class="mt-5 h2"> Merci {{adresse.lastname}}, </p>
			<p class="h4">votre commande à bien été enregistrée !</p>
			<p class="mt-3 mb-5 color-log "> <i class="far fa-thumbs-up fa-6x"></i></p>
			<p class="h6">Numéro de commande : <span class="badge badge-primary"> {{numfact}}</span></p>
			<p class="h6">Transation n° : <span class="badge badge-primary"> {{idtrans}}</span></p>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
