{% extends "indexhome.html.twig" %}

{% block titlebar %}
<section class="site-pusher">
	<div class="site-content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('index')}}">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{path('cart')}}">Adresse</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Paiement</li>
			</ol>
		</nav>
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{# <div class="card">
			<img src="{{asset('images/.png')}}" class="card-img img-fluid taille rounded" alt="theme"/>
		</div> #}
	</div>
	<div class="site-cache" id="site-cache"></div>
</section>

<!-- DIV du slide bouton burger --></div>
<!-- DEBUT DU CONTAINT CATALOGUE -->
<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h3 class="tailfonth1">Commande valider</h3>
			{# <p class="tailfontp">Adresse</p> #}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class='container'>
	<div class='row'>
	<p> Numero de Fact :</p>
		{{numfact}}
		<p> numero de trans</p>
		{{idtrans}}
		<p> Nom client </p>
		{{adresse.lastname}}
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/checkout.js')}}"></script>
{% endblock %}
