{% extends "indexhome.html.twig" %}

{% block titlebar %}
	<section class="site-pusher">
		<div class="site-content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('index')}}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Mdp perdu</li>
				</ol>
			</nav>
			{# <div class="card">
				<img src="{{asset('images/inscription.jpg')}}" class="card-img img-fluid taille rounded" alt="theme"/>
				<div class="card-img-overlay text-center styltext">
					<h1 class="card-title tailfonth1">
						Bienvenu !
					</h1>
				</div>
			</div> #}
		</div>
		<div class="site-cache" id="site-cache"></div>
	</section>
	<!-- DIV du slide bouton burger -->
</div>
<!-- DEBUT DU CONTAINT CATALOGUE -->
<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h1 class="tailfonth1">Mot de passe Perdu !!!</h1>
			<p class="tailfontp">Saisir l'adresse Mail de votre compte. Vous allez recevoir un mail sous peu avec la marche à suivre.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{{form_start(form)}}
<div class="form-sign">
	<div class="error">{% for message in app.flashes('mailerror') %}
		{{ message }}
	{% endfor %}
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">@ Email</span>
		</div>
		{{form_widget(form.email)}}		
	</div>
	<button type="submit" class="btn btn-success mx-auto d-block">Valider</button>
</div>
{{form_end(form)}}
{% endblock %}
