{% extends "indexhome.html.twig" %}

{% block titlebar %}
	<section class="site-pusher">
		<div class="site-content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('index')}}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Inscription</li>
				</ol>
			</nav>
			<div class="card">
				<img src="{{asset('images/inscription.jpg')}}" class="card-img img-fluid taille rounded" alt="theme"/>
				<div class="card-img-overlay text-center styltext">
					<h1 class="card-title tailfonth1">
						Bienvenu !
					</h1>
				</div>
			</div>
		</div>
		<div class="site-cache" id="site-cache"></div>
	</section>
	<!-- DIV du slide bouton burger -->
</div>
<!-- DEBUT DU CONTAINT CATALOGUE -->
<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h1 class="tailfonth1">Inscription</h1>
			<p class="tailfontp"></p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{{form_start(form)}}
<div class="form-sign">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">@ Email</span>
		</div>
		{{form_widget(form.email)}}
	</div>
	<div class='input-group mb-3'>
		<div class='input-group-prepend'>
			<span class='input-group-text'>Username</span>
		</div>
		{{form_widget(form.username)}}
	</div>
	{{ form_errors(form.password) }}
	<div class="input-group mb-3">
		{{form_widget(form.password)}}
		<div class="input-group-append btnpwd" data-btn="newpwd">
			<span class="btn btn-outline-secondary">
				<i class="iconpwd far fa-eye"></i>
			</span>
		</div>
	</div>
	{{ form_errors(form.confirm_password) }}
	<div class="input-group mb-3">
		{{form_widget(form.confirm_password)}}
		<div class="input-group-append btnpwd" data-btn="confpwd">
			<span class="btn btn-outline-secondary">
				<i class="iconpwd far fa-eye"></i>
			</span>
		</div>
	</div>
	<button type="submit" class="btn btn-success mx-auto d-block">Valider</button>
</div>
{{form_end(form)}}
{% endblock %}
