{% set link = "/product/" ~ product.id %}

<div class="col-md-3 col-sm-6">
	<div class="product-grid3">
		<div class="product-image3">
			<a href="{{link}}">
				<img class="pic-1" src="{{asset('/uploads/') ~ product.ProdPicture }}">
				<img class="pic-2" src="{{asset('/uploads/') ~ product.ProdPicture }}">
			</a>
			<ul id="ici" class="social">
				<li>
					<a href="{{link}}">
						<i class="fa fa-info"></i>
					</a>
				</li>
				<li>
					<a href="{{ path('addcart', {'id': product.id}) }}" class='product-panier'>
						<i class="fa fa-shopping-cart"></i>
					</a>
				</li>
			</ul>
			{% if date(product.prodDatecreat) > date('-30 days') %}
				<span class="product-new-label">New</span>
			{% endif %}
		</div>
		<div class="product-content">
			<h3 class="title">
				<a href="{{link}}">{{product.prodName}}</a>
			</h3>
			<div class="price">
				{{product.prodPrice}}€
				<!-- <span>$75.00</span> -->
			</div>
		</div>
	</div>
</div>
