{% extends 'indexhome.html.twig' %}

{% block titlebar %}
	<section class="site-pusher">
		<div class="site-content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('index')}}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Ajout commentaire</li>
				</ol>
			</nav>
			<div class="card">
				<img src="{{asset('images/vos-commentaires.png')}}" class="card-img img-fluid taille rounded" alt="theme"/>
			</div>
		</div>
		<div class="site-cache" id="site-cache"></div>
	</section><!-- DIV du slide bouton burger --></div><!-- DEBUT DU CONTAINT CATALOGUE --><div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center pt-3">
			<h3 class="tailfonth1">Merci pour votre commentaire</h3>
			<p class="tailfontp">
				Pour s'assurer du respect de certaines regles étiques, votre commentaire ne sera affiché qu'après validation du modérateur.</p>

		</div>
	</div>
</div>{% endblock %}{% block content %}
<div class='container'>
	{{ form_start(form) }}
	<div class='input-group mb-3'>
		{{form_widget(form.title, {'attr': {'placeholder':'Titre '}})}}
	</div>
	<div class='mb-3'>
		{{form_widget(form.comment)}}
	</div>
	<button type="submit" class="btn btn-success mx-auto d-block">Valider</button>
	{{ form_end(form) }}


</div>{% endblock %}
