{% extends "indexadmin.html.twig" %}
{% set navb = 4 %}

{% block titre %}Liste des categories
{% endblock %}

{% block content %}
	<div class="table-responsive-md">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Description</th>
					<th scope="col">Image</th>
				</tr>
			</thead>
			<tbody>
				{% for cate in cates %}
					<tr>
						<th scope="row">{{cate.id}}</th>
						<td>{{cate.cateName}}</td>
						<td>{{cate.cateDescrip}}</td>
						<td><img src="{{asset('/images/' ~ cate.catePicture) }}" width="120" height="40">
							{{cate.catePicture}}
						</td>
					</tr>
					<tr>
						<form action="/admin/updatecate/{{cate.id}}" method="POST" enctype="multipart/form-data">
							<td>
								<button class="btn btn-success" type="submit">Modifier</button>
							</td>
							<td><input class="form-control" type="text" name='name' placeholder="{{cate.cateName}}"></td>
							<td><input class="form-control" type="text" name="descrip" placeholder="{{cate.cateDescrip}}"></td>
							<td>
								<div class="input-group mb-3">
									<div class="custom-file">
										<input class="custom-file-input" name="file" type="file" accept="image/*" onchange="nameFileChange(this.files, 'file'+{{cate.id}})">
										<label class="custom-file-label" id="file{{cate.id}}" for="file">Choisir une image</label>
									</div>
								</div>
							</td>
						</form>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block footer %}
	<div>
		Page 1
	</div>
{% endblock %}
