{% extends "indexadmin.html.twig" %}
{% set navb = 7 %}

{% block titre %}
	<div>
		Liste des Commandes
	</div>
{% endblock %}

{% block content %}
	<div class="table-responsive-md">
		<h4 class='text-center'>Commande valider</h4>
		<table class="table-striped table">
			<thead class="thead-dark">
				<td scope="col">Num Cmd</td>
				<td scope="col">Nom</td>
				<td scope="col">Date</td>
				<td scope="col">Etat</td>
				<td scope="col">Montant</td>
				<td scope="col">Action</td>
			</thead>
			<tbody>
				{% for cmd in cmdpasse %}
				<tr>
					<th scope='row'><a href="{{path('detcmd', {'id': cmd.id})}}" class="btn">#{{cmd.numberorder}}</a></th>
					<td>{{cmd.addresses.firstname}} {{cmd.addresses.lastname}}</td>
					<td>{{cmd.datecreat|date('d/m/Y')}}</td>
					<td><i class='fas fa-handshake fa-2x'></i></td>
					<td>{{cmd.amount}}</td>
					<td>
						<a href="/admin/cmdstatus/{{cmd.id}}/2" class="btn"><i class="fas fa-dolly fa-2x"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h4 class='text-center'>Commande en preparation</h4>
		<table class="table-striped table">
			<thead class="thead-dark">
				<tr>
					<td scope="col">Num Cmd</td>
					<td scope="col">Nom</td>
					<td scope="col">date</td>
					<td scope="col">Etat</td>
					<td scope="col">Montant</td>
					<td scope="col">Action</td>
				</tr>
			</thead>
			<tbody>
				{% for cmd in cmdencours %}
				<tr>
					<th scope='row'><a href="{{path('detcmd', {'id': cmd.id})}}" class="btn">#{{cmd.numberorder}}</a></th>
					<td>{{cmd.addresses.firstname }} {{ cmd.addresses.lastname}}</td>
					<td>{{cmd.datecreat|date('d/m/Y')}}</td>
					<td><i class='fas fa-dolly fa-2x'></i></td>
					<td>{{cmd.amount}}</td>
					<td><a href="/admin/cmdstatus/{{cmd.id}}/3" class='btn'><i class="fas fa-shipping-fast fa-2x"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h4 class='text-center'>Commande terminée</h4>
		<table class="table-striped table">
			<thead class="thead-dark">
				<tr>
					<td scope="col">Num Cmd</td>
					<td scope="col">Nom</td>
					<td scope="col">date</td>
					<td scope="col">Etat</td>
					<td scope="col">Montant</td>
				</tr>
			</thead>
			<tbody>
				{% for cmd in cmdexp %}
				<tr>
					<th scope='row'>
						<a href="{{path('detcmd', {'id': cmd.id})}}" class="btn">#{{cmd.numberorder}}</a>
					</th>
					<td>{{cmd.addresses.firstname }}
						{{ cmd.addresses.lastname}}</td>
					<td>{{cmd.datecreat|date('d/m/Y')}}</td>
					<td>
						<i class='fas fa-shipping-fast fa-2x'></i>
					</td>
					<td>{{cmd.amount}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block footer %}
<div>Page 1</div>
{% endblock %}
