{% extends "indexadmin.html.twig" %}
{% set navb = 8 %}

{% block titre %}
	<div>
		Gestion des Commentaires
	</div>
{% endblock %}

{% block content %}
	<div class='container'>
		<a href="{{ path('comments', {'type': 0}) }}" type='button' class='btn btn-success ml-5'>Commentaires à modérer</a>
		<a href="{{ path('comments', {'type': 1}) }}" type='button' class='btn btn-success ml-5'>Commentaires publiés</a>
		<a href="{{ path('comments', {'type': 2}) }}" type='button' class='btn btn-success ml-5'>Commentaires Refusés</a>

		{% for comment in comments %}
			<div class="card text-center mt-3">
				<div class="card-header">
					Poster le :
					{{comment.datecreat|date('d/m/Y')}}
					par :
					{{comment.user.username}}
					-- Son status est :
					{% if comment.status == 0 %}
						En Modration
					{% elseif comment.status == 1 %}
						Publié
					{% elseif comment.status == 2 %}
						Non publié
					{% else %}
						Il y a un problème du status sur ce commentaire
					{% endif %}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{comment.title}}</h5>
					<p class="card-text">
						{% autoescape false %}
							{{comment.comment}}
						{% endautoescape %}
					</p>
				</div>
				<div class="card-footer">
					<a href="{{ path('publier', {'id': comment.id, 'status': 1}) }}" class="btn btn-link" role='button' title="Publier">
						<i class="far fa-check-circle fa-lg text-success"></i>
					</a>
					{% if comment.status == 2 %}
						<a href="{{ path('publier', {'id': comment.id, 'status': 3}) }}" class="btn btn-link" role='button' title="Supprimer">
							<i class="far fa-trash-alt fa-lg text-danger"></i>
						</a>
					{% else %}
						<a href="{{ path('publier', {'id': comment.id, 'status': 2}) }}" class="btn btn-link" title="Ne pas publier">
							<i class="far fa-times-circle fa-lg text-dark"></i>
						</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block footer %}
	<div>
		Page 1
	</div>
{% endblock %}
