{% extends "indexadmin.html.twig" %}
{% set navb = 1 %}

{% block titre %}
Dashboard
{% endblock %}

{% block content %} 
<div> voir le panneau de controle </div>
<div> il y a {{nbusers}} inscrit sur le site et {{nbposts}} commentaires </div>
<div>Il y a actuellement {{nbprods}} produits dans la boutiques</div>
{% for key, prodsbycate in prodsbycates %}
<div> Dans la categorie {{key}} Il y a actuellement {{prodsbycate}} produit </div>
{% endfor %}

{% endblock %}

{% block footer %} 
<div> Pour faire les pieds </div>
 {% endblock %}