{% extends "indexadmin.html.twig" %}
{% set navb = 1 %}

{% block titre %}
	Dashboard
{% endblock %}

{% block content %}
	<div class="">
		<div>
			il y a
			{{nbusers}}
			inscrit sur le site et
			{{nbposts}}
			commentaires
		</div>
		<div>Il y a actuellement
			{{nbprods}}
			produits dans la boutiques
        </div>
		{% for key, prodsbycate in prodsbycates %}
			<div>
				Dans la categorie
				{{key}}
				Il y a actuellement
				{{prodsbycate}}
				produit
			</div>
		{% endfor %}
        <div class="mt-5">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="online" {% if offline %} checked {% endif %}>
                <label class="form-check-label" for="online">Mettre en ligne</label>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
	<div>
		Pour faire les pieds
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/config.js')}}"></script>
{% endblock %}
