{% extends "indexadmin.html.twig" %}
{% set navb = 2 %}

{% block titre %}
<div> Liste des Produits </div>
{% endblock %}

{% block content %}
<div class="table-responsive-md"> 
<table class="table-striped table">
    <thead class="thead-dark">
        <tr>
            <td scope="col">#ID</td>
            <td scope="col">Categorie</td>
            <td scope="col">Nom</td>
            <td scope="col">Prix TTC</td>
            <td scope="col">Dispo</td>
            <td scope="col">img</td>
            <td scope="col">Date</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
    {% for prod in allprods %}
        <tr>
            <td>#{{prod.id}}</td>
            <td>{{prod.categories.cateName}} </td>
            <td>{{prod.prodName}}</td>
            <td>{{prod.prodPrice}} € TTC</td>
            <td>{% if(prod.prodStock)%}
                <img src="{{asset('images/icons-checked.png')}}" class='icon-action' alt='Dispo'/>
                {% else %}
                <img src="{{asset('images/icons-cancel.png')}}" class='icon-action' alt='NoDispo'/>
                {% endif %}</td>
            <td> <img src='{{asset('/uploads/' ~ prod.prodPicture) }}' width="50" height="50"></td>
            <td> {{prod.prodDatecreat|date('d/m/Y')}} </td>
            <td>
                <a href="/admin/updateprod/{{prod.id}}" class="link">
                    <img alt='Edit' title='Edit' src='{{asset('/images/icons-edit.png')}}' class="action-icon" />
                </a>
                <span>/</span>
                <span>
                    <a href="#" class="link" data-toggle="modal" data-target="#del{{prod.id}}">
                        <img alt='Delete' title='Delete' src='{{asset('images/icons-trash.png')}}' class="action-icon" />
                    </a>
                </span>
            </td>
        </tr>
        <!-- Modal Validation de suppression !!!!!!!! -->
        <div class="modal fade" id="del{{prod.id}}" tabindex="-1" role="dialog" aria-labelledby="del" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h6 class='modal-title'>🔑 #{{prod.id}}</h6>
                        <h6 class='modal-body'>Etes-vous sûr de vouloir supprimer {{prod.prodName}} ❓</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"> ❌ Annuler</button>
                        <a href="/admin/delprod/{{prod.id}}" type="button" class="btn btn-danger btn-sm"> ✔ Supprimer !!</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block footer %} 
<div> Page 1 </div>
{% endblock %}


