{% extends "indexadmin.html.twig" %}
{% set navb = 6 %}

{% block titre %}
	<div>
		Liste des Utilisateurs
	</div>
{% endblock %}

{% block content %}
	<div class="table-responsive-md">
		<h3 class="text-center mt-2">Administrateurs</h3>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for listadmin in listadmins %}
					<tr>
						<th scope='row'>{{listadmin.username}}</th>
						<td>{{listadmin.email}}</td>
						<td>{{listadmin.roles[0]}}</td>
						<td>
							<button type="button" class="btn text-success" data-bs-toggle="modal" data-bs-target="#del{{listadmin.id}}">
								<i class="fas fa-user-cog fa-lg"></i>
							</button>
						</td>
						<td>{{listadmin.datecreat|date('d/m/Y')}}
						</td>
					</tr>
					<!-- Modal Validation de changement !!!!!!!! -->
					<div class="modal fade" id="del{{listadmin.id}}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content text-center">
								<div class="modal-body">
									<p class='modal-title'>
										<span>
											<i class="fas fa-user-cog fa-3x text-success"></i>
											<i class="fas fa-arrow-right fa-2x ml-2 mr-2"></i>
											<i class="fas fa-user-alt fa-3x text-primary"></i>
										</span>
									</p>
									<h6 class="mt-3">{{listadmin.username}}</h6>
									<h6 class='modal-body'>Etes-vous sûr de vouloir le mettre en User ?</h6>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Non, il reste Admin</button>
									<a href="{{ path('upuser', {'id': listadmin.id, 'role': 0}) }}" type="button" class="btn btn-primary btn-sm">Oui Il sera User !!</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</table>
		<h3 class="text-center mt-4">Utilisateurs</h3>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for listuser in listusers %}
					<tr>
						<th scope='row'>{{listuser.username}}</th>
						<td>{{listuser.email}}</td>
						<td>{{listuser.roles[0]}}</td>
						<td>
							<button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#del{{listuser.id}}">
								<i class="fas fa-user-alt fa-lg"></i>
							</button>
						</td>
						<td>{{listuser.datecreat|date('d/m/Y')}}
						</td>
					</tr>
					<!-- Modal Validation de changement !!!!!!!! -->
					<div class="modal fade" id="del{{listuser.id}}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content text-center">
								<div class="modal-body">
									<p class='modal-title'>
										<span>
											<i class="fas fa-user-alt fa-3x text-primary"></i>
											<i class="fas fa-arrow-right fa-2x ml-2 mr-2"></i>
											<i class="fas fa-user-cog fa-3x text-success"></i>
										</span>
									</p>
									<h6 class='mt-3'>{{listuser.username}}</h6>
									<h6 class='modal-body'>Etes-vous sûr de vouloir le mettre en Admin ?</h6>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Non, il reste User</button>
									<a href="{{ path('upuser', {'id': listuser.id, 'role': 1}) }}" type="button" class="btn btn-success btn-sm">Oui Il sera Admin !!</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block footer %}
	<div>Page 1</div>
{% endblock %}
