{% extends "indexadmin.html.twig" %}
{% set navb = 2 %}

{% block titre %}
	<div>
		Liste des Produits
	</div>
{% endblock %}

{% block content %}
	<div class="table-responsive-md">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Categorie</th>
					<th scope="col">Prix TTC</th>
					<th scope="col">Etat</th>
					<th scope="col">Afficher</th>
					<th scope="col">Miniature</th>
					<th scope="col">Date creat.</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for prod in allprods %}
					<tr>
						<th scope='row'>{{prod.prodName}}</th>
						<td>{{prod.categories.cateName}}</td>
						<td>{{prod.prodPrice}}€ TTC</td>
						<td>{% if (prod.orders) %}
								<i class="text-primary fas fa-shipping-fast fa-lg"></i>
							{% else %}
								<i class="text-secondary fas fa-store fa-lg"></i>
							{% endif %}
						</td>
						<td>
							{% if (prod.prodStock) %}
								<i class="text-success far fa-eye fa-lg"></i>
							{% else %}
							<i class="text-danger far fa-eye-slash fa-lg"></i>
							{% endif %}
						</td>
						<td>
							<img src='{{asset('/uploads/' ~ prod.prodPicture) }}' width="50" height="50"></td>
						<td>{{prod.prodDatecreat|date('d/m/Y')}}</td>
						<td>
							<span>
								<a href="{{ path('updateprod' , {'id': prod.id}) }}" class="btn btn-outline-success">
									<i class="fas fa-pencil-alt fa-lg"></i>
								</a>
								<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#del{{prod.id}} {% if (prod.orders) %}disabled{% endif %}">
									<i class="fas fa-trash-alt fa-lg"></i>
								</button>
							</span>
						</td>
					</tr>
					<!-- Modal Validation de suppression !!!!!!!! -->
					<div class="modal fade" id="del{{prod.id}}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content text-center">
								<div class="modal-body">
									<p class='modal-title'>
                                        <i class="text-danger fas fa-exclamation-triangle fa-5x"></i>
                                    </p>
									<p class='modal-body font-weight-bold'>Etes-vous sûr de vouloir supprimer
										{{prod.prodName}}
										</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">
                                        <i class="fas fa-times"></i>
										Annuler</button>
									<a href="{{ path('delprod' , {'id': prod.id}) }}" type="button" class="btn btn-danger btn-sm">
                                        <i class="fas fa-check"></i>
										Supprimer !!</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block footer %}
	<div>
		Page 1
	</div>
{% endblock %}
