{% extends "indexadmin.html.twig" %}
{% set navb = 2 %}

{% block titre %}Update Produit{% endblock %}

{% block content %}
	{{ form_start(form) }}
		<form class="row">
			<div class="col-md-8 mt-2">
				<div class="dropzone" id="myDropzone" action="{{path('upload')}}">
					<img src="{{asset('/uploads/') ~ prod.prodPicture }}" width="80" height="80">
					<input type='hidden' name="picture" id="imag" value="{{prod.prodPicture}}" readonly="true" >
				</div>
			</div>
			{{ form_errors(form) }}
			<div class="row mt-3">
				<div class="col-md-5">
					{{form_widget(form.prod_name, {'value': prod.prodName})}}
				</div>
				<div class="col-md-3">
					<div class="input-group">
						{{form_widget(form.prod_price, {'value': prod.prodPrice})}}
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-8">
					{{form_widget(form.prod_descrip, {'value': prod.prodDescrip})}}
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-3">
					<div class="form-control">
						{{form_widget(form.prod_stock, {'selected': prod.prodStock} )}}
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<span class="input-group-text">Categorie</span>
						{{form_widget(form.categories, {'choicevalue': prod.categories.cateName} )}}
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-8">
					{{form_widget(form.prod_info, {'value': prod.prodInfo} )}}
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-5 mx-lg-auto">
					<button class="btn btn-success" type="submit">VALIDER</button>
					<a href="{{path('listprods')}}" class="btn btn-danger" type="button">ANNULER</a>
				</div>
			</div>
		</form>
	{{ form_end(form) }}
{% endblock %}

{% block footer %} 
<div> Page 1 </div>
{% endblock %}
