{% extends "indexadmin.html.twig" %}
{% set navb = 2 %}

{% block titre %}Update Produit{% endblock %}

{% block content %}
<section>
	{{ form_start(form) }}
		<div class="form-group">
			<div class="form-row">
				<div class="form-group col-md-8">
					<div class="dropzone" id="myDropzone" action="{{path('reload')}}">
						<img src="{{asset('/uploads/') ~ prod.prodPicture }}" width="80" height="80">
						<input type='hidden' name="picture" id="imag" value="{{prod.prodPicture}}" readonly="true" >
					</div>
				</div>
			</div>
			{{ form_errors(form) }}
			<div class="form-row">
				<div class="form-group col-md-5">
					{{form_widget(form.prod_name, {'value': prod.prodName})}}
				</div>
				<div class="form-group col-md-3">
					<div class="input-group">
						{{form_widget(form.prod_price, {'value': prod.prodPrice})}}
						<div class="input-group-append">
							<span class="input-group-text">€</span>
							<span class="input-group-text">TTC</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-8">
					{{form_widget(form.prod_descrip, {'value': prod.prodDescrip})}}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<div class="form-check form-check-inline">
						{{form_widget(form.prod_stock, {'selected': prod.prodStock, 'attr': {'class': 'input-group-text'}})}}
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Categorie</span>
						</div>
						{{form_widget(form.categories, {'choicevalue': prod.categories.cateName})}}
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-8">
					{{form_widget(form.prod_info, {'value': prod.prodInfo, 'attr': {'rows': 5}})}}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-5 mx-auto">
					<button class="btn btn-success" type="submit">VALIDER ✔</button>
					<a href="{{path('listprods')}}" class="btn btn-danger" type="button">ANNULER ❌</a>
				</div>
			</div>
		</div>
	{{ form_end(form) }}
</section>
{% endblock %}

{% block footer %} 
<div> Page 1 </div>
{% endblock %}
